.player-scroll {
  width: auto;
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: none;
}
.player-scroll::-webkit-scrollbar {
  display: none;
}

.player-list-tile {
  text-decoration: none;
}
